@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
}

* {
  --dark: #1a1a1a;
  --light: #f5f5f5;
  --primary: #02a33b;
  --medium: #212122;
}